doctype html5
html
	head
		link(rel="stylesheet", href="first.css")
		title Then Let's Survive
		
	body
		h5 Arcade turn-based survival strategy
		h1 Then Let's Survive
		p
			a(href="https://docs.google.com/document/d/1BjqkJ2OBo47FrYEVMpwbxoaB-GOSuUFA1wktSfEJQe0/edit?usp=sharing") Instructions booklet
		p
			a(href="/town_list") List of your towns.
		p
			a(href="/new_town") Start on a new town.
		p
			a(href="/login") Log in.&nbsp;
			a(href="/signup") Sign up.