doctype html
html

	head
		title Then Let's Survive - Login
	
	body
		h1 Login
		#login-form
			form(method="post", action="login")
				div
					label Username
					input(type="text", name="username", id="form-username")
				div
					label Password
					input(type="password", name="password", id="form-password")
				div
					input(type="submit")