doctype html
html

	head
		title
				= t("title1")
				&nbsp;-&nbsp;
				= t("newTown")
		link(rel="stylesheet", href="default.css")
	
	body
		h3= t("townType")
		ul
			for dif in dif_list
				li
					a(href="new_town/#{dif}") #{dif} - 
						snap= t(difficulties[dif].townType)