doctype html
html

	head
		title Then Let's Survive
		
	body
		h3 This town never existed or does not exist anymore.
		
		p
			a(href="/town_list") Your towns' list.
			
		p
			a(href="/new_town") Look for a new town.