doctype html
html

	head
		title Then Let's Survive
		link(rel="stylesheet", href="default.css")
		script(src="jquery.min.js")
		script(src="json.js")
		
	body
		h1 Then Let's Survive
		h6.instructions
			a(href="https://docs.google.com/document/d/1BjqkJ2OBo47FrYEVMpwbxoaB-GOSuUFA1wktSfEJQe0/edit?usp=sharing") Instructions booklet
		.tryAgain
			p
				| Game Over. Do you want to try again in
				a(href="/new_town") another town
				| &#63;
		#controls
			form(method="post")#mainForm
				h5
					| Week&nbsp;
					span#week 0
				h6
					| Inhabitants&nbsp;
					span#inhabitants 0
				h6
					| Idles&nbsp;
					span#idles 0
				h6
					| Sheeps&nbsp;
					span#sheeps 0
					button(id="killSheep") Butcher
					
				div
					label Gatherers
					input(type="number", name="gatherers", id="gatherers_control")
					| Food&nbsp;
					span#food 0
				div
					label Builders
					input(type="number", name="builders", id="builders_control")
					| Structure&nbsp;
					span#structure 0
				div
					label Defenders
					input(type="number", name="defenders", id="defenders_control")
					| Safety&nbsp;
					span#safety 0
				div
					label Cleaners
					input(type="number", name="cleaners", id="cleaners_control")
					| Garbage&nbsp;
					span#garbage 0
					| %
				input(type="hidden", id="town_id", name="town_id", value="#{town_id}")
				input(type="submit", id="next_week")
				
		#reports
			