include ./header.jade
		
#container.container
		h3= t("whoTowns", {user: ownerID})
		ul
			for town in towns
				li
					a(href="/controls_#{town}") #{town}
					
		if !guest
			p
				a(href="/profile/#{ownerID}")= t("viewProfile")