@keyframes success {
	from { color: lime; }
	to { color: black; }
}

@keyframes fail {
	from { color: red; }
	to { color: black; }
}

input[type=number] {
	-moz-appearance: textfield;
	-webkit-appearance: none;
}

span {
	animation-duration: 2s;
}

.row {
	text-align: center;
}

.warning_success {
	animation-name: success;
}

.warning_fail {
	animation-name: fail;
}

.tryAgain {
	background-color: brown;
	color: white;
	display: none;
}

table.controls {
	width: 100%;
	margin-bottom: 10pt;
}

td.labels {
	width: 50%;
	vertical-align: top;
	text-align: right;
	border-width: 4px;
	border-color: white;
	border-style: solid;
}

td.inputs {
	width: 170px;
	text-align: left;
	border-width: 4px;
	border-color: white;
	border-style: solid;
}

input.input-lg {
	text-align: center;
}

td.emptiness {
	width: auto;
}

p.counters {
	
}

label.controls {
	font-size: 125%;
	margin-right: 10pt;
}

div#reports-frame {
	border-style: dashed;
	border-width: 2px;
	border-color: yellow;
	overflow-x: hidden;
	overflow-y: hidden;
	position: relative;
}

div#reports-expand {
	padding: 2px 2px 2px 2px;
	border: solid 1px gray;
	position: absolute;
	right: 0%;
	top: 0%;
	cursor: sw-resize
}

.reports-small {
	height: 2em;
}

.reports-expanded {
	height: 8em;
}